# Pastas de dependências em qualquer nível do projeto
node_modules
  ** /node_modules

# Arquivos de log do NPM
npm - debug.log *

# Controle de versão e variáveis de ambiente sensíveis
  .git
  .gitignore
  .env

# Arquivos de upload do backend(evita copiar arquivos locais / de teste)
backend / uploads